[submodule "nvim"]
	path = nvim
	url = https://github.com/jayzone91/nvim
[submodule "fish"]
	path = fish
	url = https://github.com/jayzone91/fish
[submodule "starship"]
	path = starship
	url = https://github.com/jayzone91/starship
[submodule "PowerShell"]
	path = PowerShell
	url = https://github.com/jayzone91/PowerShell
[submodule "WindowsTerminal"]
	path = WindowsTerminal
	url = https://github.com/jayzone91/WindowsTerminal
[submodule "workspacer"]
	path = workspacer
	url = https://github.com/jayzone91/workspacer
[submodule "sketchybar"]
	path = sketchybar
	url = https://github.com/jayzone91/sketchybar
[submodule "skhd"]
	path = skhd
	url = https://github.com/jayzone91/skhd
[submodule "yabai"]
	path = yabai
	url = https://github.com/jayzone91/yabai
