[submodule "nvim"]
	path = nvim
	url = https://github.com/jayzone91/nvim
[submodule "fish"]
	path = fish
	url = https://github.com/jayzone91/fish
[submodule "starship"]
	path = starship
	url = https://github.com/jayzone91/starship
[submodule "PowerShell"]
	path = PowerShell
	url = https://github.com/jayzone91/PowerShell
[submodule "WindowsTerminal"]
	path = WindowsTerminal
	url = https://github.com/jayzone91/WindowsTerminal
